#absolute {
  position: absolute;
  height: 400px;
  width: 400px;
  border: 1px solid red;
}

#dance {
  position: relative;
  text-align: right;
}

#jove {
  position: relative;
  text-align: right;
}