* {
  -moz-box-sizing: border-box;
}

body {
  font-family: Lobster;
  color: #191919;
}

.parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
  width: 100%;
}

.mountain {
  background: transparent;
  min-height: 400px;
  height: 600px;
  padding-top: 10px;
  width: 100%;
}

.fusion {
  height: 600px;
  width: 100%;
}

.valley {
  background: transparent;
  min-height: 400px;
  height: 500px;
  padding-top: 10px;
}

/*.inner-fusion {
  margin: 0 auto;
  height: 100%;
}
*/
.clearfix {
  overflow: auto;
}

header {
  text-align: center;
  margin-top: 25%;
  color: #FFFFFF;
}

.name {
  font-size: 4em;
}

.title {
  font-size: 2em;
  margin-bottom: 5%;
}

.logo {
  height: 35px;
  width: 35px;
}

.contact-info {
  margin-top: 5%;
}

.arrow {
  height: 75px;
  width: 75px;
  margin-top: 17%;
}

.fusion-title{
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 2em;
}

.projects {
  display: flex;
  justify-content: center;
}

.lifetime {
  font-family: Quicksand;
  background: url(../imgs/running.jpg);
}

.explanation {
  font-size: 0.85em;
}

.backbonelibrary {
  background: url(../imgs/library.jpg);
  background-size: cover;
  font-family: Lora;
  color: white;
}

.lib-explanationz {
  font-family: Lora;
  color: white;
}

.flip-container {
  width: 100%;
  hoverflow: hidden;
  /*margin-top: 20px;*/
}

.panel {
  height: 250px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

.panel .front, .panel .back {
  text-align: center;
  width: 100%;
}

.panel .front {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 900;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotate&(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
}

.panel .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
    -moz-backface-visibilty: hidden;
  -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
}

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.box1{
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box2{
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.skillies {
  display: inline-block;
  margin-left: 5%;
}

.skillz {
  font-size: 1.5em;
  font-family: Cabin;
}

img.skill-logoz {
  height: 50px;
  width: 50px;
}

@media (max-width: 550px){
  .valley {
    height: 1300px;
  }
  .skillies {
    margin-left: 0;
  }
  .fusion {
    height: 1000;
  }
}

.contact {
  margin-top: 5%;
  font-size: 2.5em;
  color: white;
}

.contactz {
  width: 50px;
  height: 50px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 9%;
}


/*.whosaysdrewsays {
  background: url(../imgs/sky.jpg);
  background-size: cover;
  font-family: Open Sans Condensed;
  color: #FFFF99;
}*/


/*.explanationz {
  font-family: Open Sans Condensed;
  color: #FFFF99;
}*/