* {
  -moz-box-sizing: border-box;
}

body {
  font-family: Lobster;
  color: #191919;
}

.parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
  width: 100%;
}

.mountain {
  background: transparent;
  min-height: 400px;
  height: 600px;
  padding-top: 10px;
  width: 100%;
}

.fusion {
  height: 600px;
  width: 100%;
}

.valley {
  background: transparent;
  min-height: 400px;
  height: 500px;
  padding-top: 10px;
}

/*.inner-fusion {
  margin: 0 auto;
  height: 100%;
}
*/
.clearfix {
  overflow: auto;
}

header {
  text-align: center;
  margin-top: 25%;
  color: #FFFFFF;
}

.name {
  font-size: 4em;
}

.title {
  font-size: 2em;
  margin-bottom: 5%;
  font-family: Cabin Condensed, sans-serif;
}

.company-link {
  text-decoration: none;
  color: #FFFFFF;
}

.company-link:hover{
  text-decoration: underline;
  color: #FFFFFF;
}

.logo {
  height: 35px;
  width: 35px;
}

.contact-info {
  margin-top: 5%;
}

.arrow {
  height: 75px;
  width: 75px;
  margin-top: 17%;
}

.fusion-title{
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 2em;
}

.projects {
  display: flex;
  justify-content: center;
}

.project-box {
  height: 250px;
  margin: 0 auto;
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.meterhero {
  font-family: Source Sans Pro;
  font-weight: 300;
  color: #6f787c;
  background: url(http://redbeacon.s3.amazonaws.com/homeguides%2Farticles%2Fthumbs%2F5_light_bulb_replacement_safety_tips.jpg.600x275_q85_crop.jpg);
}

.meterhero img {
  width: 50%;
  margin-bottom: 3em;
}

.lifetime {
  font-family: Quicksand;
  background: url(../imgs/running.jpg);
  height: 250px;
}

.explanation {
  font-size: 0.85em;
}

.backbonelibrary {
  background: url(../imgs/library.jpg);
  background-size: cover;
  font-family: Lora;
  color: white;
}

.lib-explanationz {
  font-family: Lora;
  color: white;
}

.bottom {
  display:none;
}

.project-box:hover .bottom {
  display: block;
}

@media (max-width: 580px){
  .fusion {
    height: 1100px;
  }
  .projects {
    display: block;
  }
  .project-box {
    width: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid #2E2E2E;
  }

}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillies {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
}

.skillz {
  font-size: 1.5em;
  font-family: Cabin;
}

img.skill-logoz {
  height: 50px;
  width: 50px;
}

@media (max-width: 900px) {
  .valley {
    height: 600px;
  }
  .skillies {
    margin-right: 2.5em;
    margin-left: 2.5em;
  }
}

@media (max-width: 640px){
  .valley {
    height: 800px;
  }
  .skillies {
    margin-left: 3em;
    margin-right: 3em;
  }
}

@media (max-width: 550px) {
  .valley {
    height: 2000px;
  }
  .skillies {
    margin-left: 0;
    margin-right: 0;
  }
}

.contact {
  margin-top: 5%;
  font-size: 2.5em;
  color: white;
}

.contactz {
  width: 50px;
  height: 50px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 9%;
}