body {
  background: linear-gradient(
    to bottom,
    #E6F2FF,
    #E6F2FF 50%,
    #FFFFFF 50%,
    #FFFFFF
    );
  background-size: 100% 75px;
}

#title {
  font-size: 55px;
  font-weight: bold;
  color: #000056;
  font-family: Lobster;
  border-bottom: 2px solid #A60000;
  text-align: center;
  padding: 10px;
  margin: 0px 15px 0px 15px;
}

span {
  width: 25px;
  height: 25px;
}

.places {
  display: inline-block;
}

#subtitle {
  text-align: center;
  border-bottom: 2px solid #A60000;
  padding: 5px;
  margin: 2px 15px 2px 15px;
}

.blogname {
  display: inline-block;
  margin: 0px 100px 0px 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: Open Sans Condensed;
  color:#000056;
}

.pic {
  width: 150px;
  height: 100px;
  border: 1px solid #A60000;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #3333CC;
  text-decoration: none;
}

#navbar {
  text-align: center;
  font-weight: bold;
  font-family: Open Sans Condensed;
  color:#000056;
  font-size: 25px
  border: 1px solid #A60000;
  margin-bottom: 50px;
}

.places {
  display: inline-block;
  margin: 5px 50px 5px 50px;
}

#body_area {
  position: relative;
  margin: auto;
  width: 800px;
}

#me {
  float: left;
  position: relative;
  border: 1px solid #A60000;
  width: 350px;
  height: 300px;
}

#aboutme {
  float: right;
  position: relative;
  width: 350px;
  height: 300px;
  margin: 0px;
  font-family: Open Sans Condensed;
  color: #000056;
  text-align: left;
  padding: 30px;
}

p {
  font-size: 20px;
  font-family: Open Sans Condensed;
  color: #000056;
}

table {
  font-size: 20px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  color: #000056;
}

h3 {
  font-family: Open Sans Condensed;
  font-weight: bolder;
  color: #000056;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  color: #000056;
}

li {
  font-family: Open Sans Condensed;
  color: #000056;
  font-size: 1.25em;
}

h1 {
  font-family: Lobster;
  color: #000056;
}

h2 {
  font-family: Open Sans Condensed;
  color: #000056;
}

h4 {
  font-size: 20px
  font-weight: bolder;
  text-align: center;
  margin-right: 50px;
  margin-top -300px;
}

#technical {
  float:left;
  margin-left: 17%;
}

#cultural {
  float:right;
  margin-right: 17%;
}

.blogtitle {
  font-size: 1.2em;
  font-weight: bold;
  font-family: Open Sans Condensed;
}

.small {
  font-size: .75em;
  margin-top: -5px;
  margin-bottom: 30px;
}

header {
  font-family: Lobster;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #A60000;
  margin: 15px 20px 15px 15px;
  padding: 10px;
}

footer {
  margin: 9% 40% 2% 40%;
}

#bottom{
  margin-top: 100%;
}

.clearfix {
  overflow: auto;
}